<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
      <h3>
      	<%= @user.email %>
      </h3>
			<img src="http://itsafieldday.com/images/me.jpg" alt="">
    </section>
  </aside>
</div>