<footer>
	<section class="footer-contact">
		<h3>Interested in purchasing a terrarium or even learning how its done?</h3>
		<p>Contact me below, I'd love to chat!</p>
		<ul class="icons">
			<li>
				<a href="https://twitter.com/fielddaytoronto" class="icon first" target="_blank">
					<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="https://www.facebook.com/rachel.borgh" class="icon" target="_blank">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
			<li>
				<a href="#" class="icon" target="_blank">
					<i class="fa fa-instagram"></i>
				</a>
			</li>

			<li>
				<a href="mailto:rachel.fieldday@gmail.com" class="icon last">
				  <i class="fa fa-envelope"></i>
				</a>
			</li>
		</ul>
		
	</section> <!-- end of footer-contact -->
	<section class="copyright">
		<ul class="copyright-menu">
			<li>&copy; Rachel Borgh. All rights reserved.</li>
			<li>Design by <a href="http://html5up.net/">HTML5 UP</a></li>
			<li>All the nice photographs by <a href="https://www.facebook.com/heidi.athay">Heidi Athay</a></li>
			<li>Rails Development by <a href="http://www.jaredphillips.io">Jared Phillips</a></li>
		</ul>
	</section>
</footer>